absl-py==2.1.0
aiosignal==1.3.1
attrs==23.2.0
autopep8==2.0.4
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
contourpy==1.2.0
cycler==0.12.1
dm-tree==0.1.8
Farama-Notifications==0.0.4
filelock==3.13.1
fonttools==4.49.0
frozenlist==1.4.1
fsspec==2024.2.0
grpcio==1.62.0
gymnasium==0.28.1
idna==3.6
imageio==2.34.0
importlib-metadata==7.0.1
importlib_resources==6.1.2
jax-jumpy==1.0.0
Jinja2==3.1.3
joblib==1.3.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
lazy_loader==0.3
lz4==4.3.3
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.3
mdurl==0.1.2
mpmath==1.3.0
msgpack==1.0.8
mypy==1.9.0
mypy-extensions==1.0.0
networkx==3.2.1
numpy==1.26.4
packaging==23.2
pandas==2.2.1
pettingzoo==1.24.3
pillow==10.2.0
protobuf==4.25.3
pyarrow==15.0.0
pycodestyle==2.11.1
pycparser==2.21
pygame==2.5.2
Pygments==2.17.2
pymunk==6.6.0
pyparsing==3.1.1
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
ray==2.9.3
referencing==0.33.0
requests==2.31.0
rich==13.7.1
rlcard==1.2.0
rpds-py==0.18.0
sb3-contrib==2.2.1
scikit-image==0.22.0
scikit-learn==1.4.1.post1
scipy==1.12.0
six==1.16.0
stable-baselines3==2.2.1
SuperSuit==3.9.2
svgwrite==1.4.3
sympy==1.12
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
termcolor==2.4.0
threadpoolctl==3.3.0
tifffile==2024.2.12
tinyscaler==1.2.7
tomli==2.0.1
torch==2.2.1
tqdm==4.66.2
trueskill==0.4.5
typer==0.9.0
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
Werkzeug==3.0.1
zipp==3.17.0
nashpy==0.0.41
more_itertools==10.2.0
git+https://github.com/poprl/popcore.git
git+https://github.com/poprl/poprank.git
